<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet"
          type="text/css" href="styles.css">

    <title></title>
</head>
<body>

<main>


    <div id="error-block" tpl-if="$errors">
        <tpl tpl-foreach="$errors as $error">
            <strong>{{ $error }}</strong><br>
        </tpl>
    </div>

   <form id="input-form">

        <div class="label-cell"><label for="title">Pealkiri:</label></div>
        <div class="input-cell"><input
                id="title"
                name="title"
                value="{{ $book->title }}"
                type="text" /></div>

        <div class="label-cell">Hinne: </div>
        <div class="input-cell">
            <tpl tpl-foreach="range(1, 5) as $grade">
            <label for="grade{{ $grade }}">{{ $grade }}</label>
            <input type="radio"
                   id="grade{{ $grade }}"
                   name="grade"
                   tpl-checked="$grade === $book->grade"
                   value="{{ $grade }}">
            </tpl>
        </div>

        <div class="flex-break"></div>

        <div class="label-cell"><label for="read">Loetud:</label></div>
        <div class="input-cell">
            <input name="{{ $book->isRead }}"
                   id="read"
            tpl-checked="$book->isRead === true"
            type="checkbox" /></div>

        <div class="flex-break"></div>

        <div class="label-cell"></div>
        <div class="input-cell button-cell">
           <tpl tpl-if="$isEditForm" >
            <input name="deleteButton"
                   class="danger"
                   type="submit"
                   value="Kustuta">
           </tpl>

            <input name="submitButton" type="submit" value="Salvesta">
        </div>
    </form>
</main>

</body>
</html>

