
<form method="post" action="index.php">
    <table class="tabel">
        <tr>
            <td class="W-20pr"></td>
            <td class="W-60pr">

                <table class="tabel">
                    <tr>
                        <td class="W-25pr">Eesnimi:</td>
                        <td class="W-75pr"><input type="text" name="firstName" value="{{ $firstName }}"></td>
                    </tr>
                    <tr>
                        <td>Perekonnanimi:</td>
                        <td><input type="text" name="lastName" value="{{ $lastName }}"></td>
                    </tr>
                    <tr tpl-if="$errors">
                        <td class="W-25pr">Error:</td>
                        <td class="W-75pr"><input class="tabel" type="text" id="error-block" name="error" value="{{ $errors }}"></td>
                    </tr>
                    <tr>
                        <td>Hinne:</td>
                        <td>
                            <tpl tpl-foreach="range(1, 5) as $grade">
                                <label for="grade{{ $grade }}">{{ $grade }}</label>
                                <input type="radio"
                                       id="grade{{ $grade }}"
                                       name="grade"
                                       tpl-checked="$grade == $grade1"
                                       value="{{ $grade }}">
                            </tpl>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><br></td>
                    </tr>
                    <tr>
                        <td colspan="2"><br></td>
                    </tr>
                    <tr>
                        <td tpl-if="$id" class="pos_right"><input type="submit" value="Delete" class="button" name="deleteButton"></td>
                        <td class="pos_right"><input type="submit" value="SalvestaB" class="button" name="submitButton"></td>
                        <input type="hidden" name="cmd" value="{{ $cmd }}" >
                        <input type="hidden" name="id" value="{{ $id }}" >
                    </tr>
                </table>
            </td>
            <td width="20%"></td>
        </tr>
    </table>
</form>
