<table class="tabel">
                <tr>
                    <td class="W-40pr">Eesnimi</td>
                    <td class="W-40pr">Perekonnanimi</td>
                    <td class="W-20pr">Hinne</td>
                </tr>
            </table>
            <table class="tabel" border="1">
                <div tpl-foreach="$data as $item">
                <tr>
                <td class="W-40pr"><a href='index.php?cmd=author_edit&id={{ $item->id }}'>{{ $item->firstName }}</a></td>
                <td class="W-40pr">{{ $item->lastName }}</td>
                    <td tpl-if="$item->grade === ''" class="W-20pr"></td>

                    <td tpl-if="$item->grade === '1'" class="W-20pr">
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>


                    <td tpl-if="$item->grade === '2'" class="W-20pr">
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>


                    <td tpl-if="$item->grade === '3'" class="W-20pr">
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>


                    <td tpl-if="$item->grade === '4'" class="W-20pr">
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star"></span>
                    </td>


                    <td tpl-if="$item->grade === '5'" class="W-20pr">
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                        <span class="fa fa-star" style="color: orange"></span>
                    </td>
                </tr>
                </div>
            </table>
