                <form method="post" action="index.php">
                <table class="tabel" border="1">
                    <tr>
                        <td class="W-20pr"></td>
                        <td class="W-60pr">
                            <table class="tabel" border="1">
                                <tr tpl-if="$errors">
                                    <td class="W-25pr">Error:</td>
                                    <td class="W-75pr"><input class="tabel" type="text" id="error-block" name="error" value="{{ $errors }}"></td>
                                </tr>
                                <tr>
                                    <td class="W-25pr">Pealkiri:</td>
                                    <td class="W-75pr"><input class="tabel" type="text" id="title" name="title" value="{{ $title }}"></td>

                                </tr>
                                <tr>
                                    <td>Autor1:</td>
                                    <td><select class="tabel" name = "author1">
                                        <tpl tpl-if="$author1">
                                            <tpl tpl-foreach="$array as $item">
                                                <option tpl-selected="$author1 == $item->id" value="{{ $item->id }}">
                                                    {{ $item->firstName }} {{ $item->lastName }} </option>
                                            </tpl>
                                        </tpl>
                                        <option value="">  </option>
                                        <tpl tpl-foreach="$array as $item">
                                            <option value="{{ $item->id }}"> {{ $item->firstName }} {{ $item->lastName }} </option>
                                        </tpl>
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Autor2:</td>
                                    <td><select class="tabel">
                                        <option></option>
                                        <option value="o1">Option 1</option>
                                        <option value="o2">Option 2</option>
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hinne:</td>
                                    <td>
                                        <tpl tpl-foreach="range(1, 5) as $grade">
                                            <label for="grade{{ $grade }}">{{ $grade }}</label>
                                            <input type="radio"
                                                   id="grade{{ $grade }}"
                                                   name="grade"
                                                   tpl-checked="$grade == $got_book->grade"
                                                   value="{{ $grade }}">
                                        </tpl>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Loetud:</td>
                                    <td><input type="checkbox" name="isRead" value="checked" tpl-checked="$isRead" ></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><br></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><br></td>
                                </tr>
                                <tr>
                                    <td tpl-if="$id" class="pos_right"><input type="submit" value="Delete" class="button" name="deleteButton"></td>
                                    <td class="pos_right"><input type="submit" value="SalvestaB" class="button" name="submitButton"></td>
                                    <input type="hidden" name="cmd" value="{{ $cmd }}" >
                                    <input type="hidden" name="id" value="{{ $id }}" >
                                </tr>
                            </table>
                        </td>
                        <td class="W-20pr"></td>
                    </tr>
                </table>
                </form>>