<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body id="{{ $pageId }}">
<table class="tabel height headerTwoDiv" border="1">
    <tr>
        <td class="vtop">
            <table class="tabel main-colour" border="1">
                <tr>
                    <td colspan="3"><a href="?cmd=show_book_list" id="book-list-link">Raamatud</a> &nbsp; | &nbsp; <a href="?cmd=show_book_form" id="book-form-link">Lisa raamat</a> &nbsp; | &nbsp; <a href="?cmd=show_author_list" id="author-list-link">Autorid</a> &nbsp; | &nbsp; <a href="?cmd=show_author_form" id="author-form-link">Lisa autor</a></td>
                </tr>
            </table>
            <br>
            <br>
                <main tpl-include="{{ $template }}"></main>
    <tr>
        <td style="vertical-align: bottom;">
            <table class="tabel main-colour">
                <tr>
                    <td colspan="3"  class="vbottom">ICD0007 Näidisrakendus</td>
                </tr>

                <tr tpl-if="$message">
                    <td class="W-25pr">Success:</td>
                    <td class="W-75pr"><input class="tabel" type="text" id="message-block" name="massage" value=" Operation succesful"></td>
                </tr>

            </table>
        </td>
    </tr>
    </td>
    </tr>
</table>


</body>
</html>